<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 10px; width: 92%; }
        form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
        #conversation { list-style-type: none; margin: 0; padding: 0; }
        #conversation li { padding: 5px 10px; }
        #conversation li:nth-child(odd) { background: #eee; }
      </style>
</head>
<body>
    <div class="container">
        <ul id="conversation">

        </ul>

        <form >
            <input type="text" name="message" id="message" />
            <button class="btn btn-success" id="btn_send">Send</button>
        </form>
    </div>

    <script type="text/javascript">
        var socket = io.connect("http://localhost:3000");

        socket.on("connect", () => {
            console.log("User is connecting to server");
        })

        // Ask name
        var username = prompt("What's your name?");

        socket.emit("addUser", username);

        // Listen update message event
        socket.on("update_message", (data) => {
            $("#conversation").append("<li> <b>" + data.sender + ": </b>" + data.message + "</li>");
        });

        // Sent message event
        $("#btn_send").click(function(e) {
            // Get message
            var message = $("#message").val("");

            if(message.trim().length != 0) {
                socket.emit("send_message", message);
            }

        });

        $("form").submit(function() {
            return false;
        });

    </script>

    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>
</body>
</html>